
body {
  margin: 0;
  font-family: sans-serif;
  background: #be13dd;
background: -webkit-linear-gradient(0deg, #be13dd 0%, #be582d 100%);
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 1rem;
  background-color: #3a3939;
  color: #ffffff;
  border-radius: 12px;
  
}

.chat-box {
  margin-top: 1rem;
}

.messages {
  height: 400px;
  overflow-y: auto;
  background-image: url("./assets/gumballl.jpg");
  border: 1px solid #000000;
  border-radius: 12px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.my-msg {
  align-self: flex-end;
  background: #000000;
  padding: 0.5rem;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 15px;
}

.other-msg {
  align-self: flex-start;
  background: #d1e0ff;
  padding: 0.5rem;
  border-radius: 8px;
}

.input-box {
  display: flex;
  margin-top: 1rem;
  gap: 0.5rem;
  border-radius: 12px;
}

input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 12px;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 12px;
  background: #000000;
  color: #ffffff;
  border: none;
}
@media (max-width: 768px) {
  .chat-container {
    width: 100%;
    padding: 0.5rem;
  }
  .messages {
    height: 300px;
  }
  .input-box {
    flex-direction: column;
  }
  input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  button {
    width: 100%;
  }
 header{
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin-bottom: 0.5rem;
  }
  body{
    background: #be13dd;
    background: -webkit-linear-gradient(0deg, #be13dd 0%, #be582d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}
@media (max-width: 480px) {
  .chat-container {
    width: 100%;
    padding: 0.5rem;
  }
  .messages {
    height: 250px;
  }
  .input-box {
    flex-direction: column;
  }
  input {
    width: 100%;
    margin-bottom: 0.5rem;
  }
  button {
    width: 100%;
  }
   header{
    flex-direction: column;
    align-items: center;
  }
  header h1 {
    margin-bottom: 0.5rem;
  }
  body{
    background: #be13dd;
    background: -webkit-linear-gradient(0deg, #be13dd 0%, #be582d 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  }
  .footer {
    text-align: center;
    padding: 1rem;
    background: rgba(255,255,255,0.8);
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1rem;
}